<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <header class="d-inline">
    <nav-app brandName="Story App"></nav-app>
  </header>

  <main>
    <div class="my-profile">
      <img src="img/ridian.JPG" alt="Developer Photo">
      <h2 class="my-name">Ridian Putra</h2>
      <h5 class="my-role">Android Developer</h5>
      <p class="my-summary">Best Graduate Informatics with internship and freelance experience in Android for 2.5 years. Good at communicating and working in a team to achieve predetermined targets. Have the ability to think critically, logically, and analytically. Likes to learn new things and teaches many things to many people. I also have detailed evaluation skills.</p>
      <a href="https://www.linkedin.com/in/ridianputra/" target="_blank">Let's Connect!</a>
    </div>
  </main>
</body>
</html>